@import './ColorUI/icon/icon';
@import './ColorUI/icon/doc';
@import './ColorUI/ui';

:root {
    --c-brand: #0081ff;
    --c-brand-light: #0081ff;
    --c-tip: #8dc7ff;
    --content-width: 860px;
    --textSize: -2px;

    .home .hero .action-button {
        font-size: 1.1rem;
        padding: .4rem 1.2rem;
    }
}
html.dark {
    --c-brand: #0081ff;
    --c-brand-light: #0081ff;
    --c-tip: #004487;
}
//按钮图标
.action-button.github {
    &:before {
        font-family: coloricon, serif;
        content: "\ead8";
    }
    span {
        display: none;
    }
}
.flex-bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex {
    display: flex;
}
.flex-sub {
    flex: 1;
}
.inline-block {
    display: inline-block!important;
}
.icon-xxl {
    -webkit-transform: scale(2);
    transform: scale(2);
}
.navbar-images {
    height: 205px;
    margin-top: 20px;
}
.medium-zoom-image {
    margin: 10px 0;
}

.no-external-link-icon {
    ul, ol {
        margin-left: 40px;
    }
    .external-link-icon {
        display: none;
    }
    ul li img {
        position: relative;
        top: 4px;
    }
}
.theme-default-content:not(.custom) {
    max-width: inherit;
}
.mp-cu-doc-view {
    position: relative;
    display: flex;
    .mp-cu-doc {
        position: relative;
        max-width: 70%;
        flex: 1;
    }
    .mp-cu-doc-image {
        position: relative;
        width: 420px;
        margin-left: 2.5rem;
        margin-top: 60px;
        border-radius: 10px;
        max-height: 660px;
        overflow-y: auto;
        img {
            max-width: inherit;
            width: 100%;
        }
        &::-webkit-scrollbar {
            width: 0 !important;
            height: 0 !important;
        }
    }
}
.mp-cu-doc-theme-content {
    max-width: var(--content-width);
    margin: 0 auto;
}

@media (max-width: 959px) {
    .theme-default-content:not(.custom) {
        padding: 2rem;
    }
    .mp-cu-doc-view {
        display: block;
        .mp-cu-doc {
            flex: inherit;
            max-width: 100%;
        }
        .mp-cu-doc-image {
            width: auto;
            margin-left: 0;
            margin-top: 0;
            border-radius: 0;
            max-height: inherit;
            overflow-y: auto;
        }
    }
}

@media (max-width: 419px) {
    .theme-default-content:not(.custom) {
        padding: 1.5rem;
    }
    .theme-default-content div[class*=language-] {
        margin: 0.85rem 0;
        border-radius: 6px;
    }
    .mp-cu-doc-view {
        display: block;
        .mp-cu-doc {
            flex: inherit;
            max-width: 100%;
        }
        .mp-cu-doc-image {
            width: auto;
            margin-left: 0;
            margin-top: 0;
            border-radius: 0;
            max-height: inherit;
            overflow-y: auto;
        }
    }
}
.mp-cu-pay {
    font-weight: 500;
    color: var(--c-text-accent);
    text-decoration: none;
    overflow-wrap: break-word;
    cursor: pointer;
}
.mp-cu-pay-img {
    text-align: center;
    img {
        width: 340px;
    }
}

.mp-cu-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-sizing: content-box;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    text-align: center;
    word-break: break-all;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    transform: translate3d(-50%, -50%, 0);
    width: fit-content;
    min-width: 96px;
    min-height: 0;
    padding: 8px 12px;
    z-index: 2030;
    display: none;
    .text {
        color: #fff;
    }
    &.show{
        display: flex;
    }
}
