@import './ColorUI/icon/icon';
@import './ColorUI/icon/doc';
@import './ColorUI/ui';

:root {
    --c-brand: #0081ff;
    --c-brand-light: #0081ff;
    --c-tip: #8dc7ff;
    --content-width: 860px;
    --textSize: -2px;

    .home .hero .action-button {
        font-size: 1.1rem;
        padding: .4rem 1.2rem;
    }
}
html.dark {
    --c-brand: #0081ff;
    --c-brand-light: #0081ff;
    --c-tip: #004487;
}
//按钮图标
.action-button.github {
    &:before {
        font-family: coloricon, serif;
        content: "\ead8";
    }
    span {
        display: none;
    }
}

.p-2 {
    padding: 5px;
}
.p-3 {
    padding: 10px;
}
.p-4 {
    padding: 15px;
}
.pb-3 {
    padding-bottom: 10px;
}
.px-4 {
    padding-right: 15px;
    padding-left: 15px;
}
.radius {
    border-radius: 5px;
}
.round {
    border-radius: 500px;
}
.flex-bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.flex {
    display: flex;
}
.flex-sub {
    flex: 1;
}
.my-3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-4 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.inline-block {
    display: inline-block!important;
}
.mt-3 {
    margin-top: 10px!important;
}
.py-4 {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}
.mt-2 {
    margin-top: 5px!important;
}
.icon-xxl {
    -webkit-transform: scale(2);
    transform: scale(2);
}
.px-3 {
    padding-right: 10px!important;
    padding-left: 10px!important;
}